<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee998b">  <td>20/07/24 13:21:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterClass()[pri:0, instance:com.proyect.test.SearchTest@3d121db3]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="ee998b">  <td>20/07/24 13:21:24</td>   <td>-24336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:com.proyect.test.SearchTest@3d121db3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@1882554559</td>   <td></td> </tr>
<tr bgcolor="b58ca3">  <td>20/07/24 13:21:32</td>   <td>-16653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.searchTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.proyect.test.SearchTest@3d121db3]">searchTest</td> 
  <td>main@1882554559</td>   <td></td> </tr>
</table>
